{% load static %}

<!DOCTYPE html>
<html>
<head>
{# CSS #}
<link rel="stylesheet" href="{% static 'css/vendors/normalize.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block head_css %}
{% endblock %}

{# JS #}
<script type="text/javascript" src="{% static 'js/vendors/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/vendors/bootstrap.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/vendors/vue.min.js'%}"></script>

<script type="text/javascript" src="{% static 'js/main.js'%}"></script>

{% block head_scripts %}
{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="col-xs-12 text-right">Workable </h2>
        </div>

        <div class="row custom-navbar"> 
            {% include 'navbar.html' %}
        </div>
        
        {% block content %}
        {% endblock %}
    </div>
{% block scripts %}
{% endblock %}

</body>
</html>